*.bak
*.iml
*.class
*.war
*.rar
*.jar
*.log
.project
.settings
.classpath
target
/bin/
classes/

**/.idea
**/*.iml
META-INF/

src/main/webapp/static
src/main/webapp/template
src/main/webapp/META-INF/

*.DS_Store